@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

body {
  background-color: hsl(204, 43%, 93%);
}
.card {
  width: 640px;
  height: 480px;
}

.top {
  background-color: white;
  width: 640px;
  height: 210px;
}
.left {
  background-color: hsl(174, 62%, 43%);
  width: 320px;
  height: 270px;
}
.right {
  background-color: hsl(173, 44%, 49%);
  width: 320px;
  height: 270px;
}
.lightgray {
  color: hsl(218, 22%, 67%);
}
.yellow {
  color: hsl(71, 73%, 54%);
}
.green {
  color: hsl(174, 62%, 43%);
}
.typo700 {
  font-family: "Karla", sans-serif;
  font-weight: 700;
}
.typo400 {
  font-family: "Karla", sans-serif;
  font-weight: 400;
}
.bg-yellow {
  background-color: hsl(71, 73%, 54%);
}
.lightwhite {
  color: rgba(255, 255, 255, 0.621);
}
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media (max-width: 640px) {
  .m-flexcol {
    flex-direction: column;
  }
  .w320 {
    width: 320px;
  }
  .h750 {
    height: 750px;
  }
  .h270 {
    height: 280px;
  }
  .h240 {
    height: 240px;
  }
}
